body {
    padding: 0;
    margin: 0;
    background-color: #fefaf4;
    font-family: 'Manjari', sans-serif;
    color: #A02A6D;
    line-height: 20px
}


.container {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}


.title {
    justify-content: center;
    font-size: 30px;
    color: #f1a5ab;
}

.projects {
    font-size: 16px;
    color: #B59CA8;
}
