body {
    padding: 0;
    margin: 0;
    background-color: #EAE8E8;
    font-size: 16px;
    font-family: 'Righteous', cursive;
    color: #A02A6D;
    line-height: 20px
}

.container {
    width: 485px;
    margin-left: auto;
    margin-right: auto;

}

.letter-container img {
    position: absolute;
    z-index: 99;
    top: 16%;
    left: 33.9%;
    visibility: hidden;
}


.letter-container img.visible {
    visibility: visible;
}

h2 {
    font-size: 26px;
    font-family: 'Righteous', cursive;
    color: #5B706E; 
    display: flex;
    justify-content: center;
}

.letter-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.letter-container h1 {
    font-size:500px;
    font-family: 'Righteous', cursive;
    text-shadow:
		-6px -6px 0 #000,
		6px -6px 0 #000,
		-6px 6px 0 #000,
		6px 6px 0 #000;
    color: #EAE8E8; 
    position: relative;
    padding: 0;
    margin-top: 200px;
    margin-bottom: 200px;
}

.letter-container button {
    height: 72px;
    width:72px;
    border-radius: 50%;
    background: #A02A6D; 
    border: 6px solid black;
    cursor: pointer;
    position: relative;
    bottom: 13px;
}

.letter-set {
    line-height: 61px;
    font-size:53px;
    font-family: 'Righteous', cursive;
    color: #5B706E;
    overflow-y: hidden;
    white-space: nowrap;

}

.main-copy {
    font-size: 16px;
    font-family: 'Righteous', cursive;
    color: #A02A6D;
    line-height: 20px;

}

footer {
    display: flex;

}

.letter-set,
.main-copy,
 footer{
    margin-top:40px;
}

footer img {
    height: 80px;
    background-color: #557b49;
    margin-right: 7px;
        
}

footer .author-heading {
    height; 93px; 
    color:#5B706E;
    margin-top: 0;
}

footer .sources-section {
    width: 390px;
    font-size: 8px;
    font-family: 'Righteous', cursive;
    color: #5B706E;
    line-height: 10px
}