* {
  margin:0;
}

body {
    text-align: center;
    background-color: #A77C8B;
}

.complete-box {
    width:768px;
    height:auto;
    margin: 0 auto;
}

#opening h1 {
    margin-top: 346px;
}

#opening h6 {
    color: #f6dcd8;
    margin-top: 515px;   
}

#feeling h1 {
    margin-top: 261.4px;
    margin-bottom: 97px;
}

#energy h1 {
    margin-top: 952px;
    margin-bottom: 97px;
}

section {
    height: 100vh;
    width: 100%;
    position: relative;
    margin: 0 auto;
    
}

section h1 {
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    color: #f6dcd8;
    font-weight: lighter;
}

#feeling {
    margin-top: 346px;
}

.invisible {
    display: none;
}

img#scroll {
  height: 25px;
  width: 25px;
}

h6 {
    font-size: 16px;
    font-weight: lighter;
    font-family: 'Raleway', sans-serif;
}
 
.container img,
.energy img {
  height: 185px;
  width: 185px;
}


.stayup,
.chilltime,
.timetorelax,
.steadyyourself {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    height: 30vh;
    width: 100%;
    position: relative;
    margin: 0 auto;
    
}

#activitybutton.stayup,
#item-button.stayup,
#resources-button.stayup {
    height: 30vh;
    width: 131%;
}

#activitybutton.chilltime,
#item-button.chilltime {
    height: 30vh;
    width: 90%;
}

#resources-button.chilltime {
    width: 109%;
}


#item-button.timetorelax {
        width: 90%;
}


#resources-button.timetorelax {
    width: 57%;
}

#activitybutton.steadyyourself,
#item-button.steadyyourself {
    width: 90%;
}

#resources-button.steadyyourself {
    width: 130%;

}

.stayup h1,
.chilltime h1,
.timetorelax h1,
.steadyyourself h1 {
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    position:relative;
    font-weight: lighter;
    margin-bottom: 75px;
}

.stayup h3,
.chilltime h3,
.timetorelax h3,
.steadyyourself h3 {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    position: left;
    font-weight: lighter;

}

.complete1 {
    width:768px;
    height:auto;
    margin: 0 auto;
}


.stayup h1,  {
    color: #231F36;
    background-color: #F6DCDB;
}

.activity,
.items,
.resources {
    display: flex;
}

.activity div p,
.items div p,
.resources div p 
{
    text-align: left;
}

.chilltime {
    color: #cbddf2;
    background-color: #231f36;
}

.chilltime h1 {
    color: #cbddf2;
    background-color: #231f36;
}

.timetorelax {
    color: #614b67;
    background-color: #cbddf2;
}

.timetorelax h1 {
    color: #614b67;
    background-color: #cbddf2;
    
}
.steadyyourself {
    color: #F6DCDB;
    background-color: #614b67;
}

.steadyyourself h1 {
    color: #F6DCDB;
    background-color: #614b67;
}

#closer h6 {
    margin-left: 100px;
    display: flex;
}

#closer {
    margin-left: 708px;
    display: flex;
}

#home {
    margin-left: 3px;
    margin-bottom: 7px;
}





